/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/num_word.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define SYMBOLS 1
#define NAV 2
#define NUM 3
#define ADJUST 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
        };
    };

    macros {
        BRACES: PGREP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
        };
        URL: URL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp PERIOD &kp RIGHT_BRACKET>;
        };
        PREV: PREV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DLLR &kp UNDER>;
        };
        winClose: winClose {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4)>;
        };
        tabNext: tabNext {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(TAB)>;
        };
        tabPrev: tabPrev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(TAB))>;
        };
        tabClose: tabClose {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(F4)>;
        };
        deskNext: deskNext {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(RIGHT))>;
        };
        deskPrev: deskPrev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(LEFT))>;
        };
        winNext: winNext {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(TAB)>;
        };
        winPrev: winPrev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LS(TAB))>;
        };
    };

    combos {
        compatible = "zmk,combos";
        
        Copy {
            bindings = <&kp LC(C)>;
            key-positions = <41 42>;
        };
        Paste {
            bindings = <&kp LC(V)>;
            key-positions = <42 43>;
        };
        Cut {
            bindings = <&kp LC(X)>;
            key-positions = <41 43>;
        };
        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <34 35>;
        };
        Lparen {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <40 41>;
        };
        Rparen {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <50 49>;
        };
        btclear {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <50 14>;
        };
        escape-combo {
            bindings = <&kp ESCAPE>;
            key-positions = <30 29>;
        };
        dash {
            bindings = <&kp MINUS>;
            key-positions = <47 48>;
        };
        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <48 49>;
        };
        systemlayer {
            bindings = <&mo ADJUST>;
            key-positions = <14 24>;
        };
        baselayer {
            bindings = <&to BASE>;
            key-positions = <31 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "default";
            bindings = <
//  --- LEFT HALF -----------------------------------------------------------------------------   --- CENTER ---   --- RIGHT HALF ----------------------------------------------------------------------------
&gresc              &kp N1            &kp N2              &kp N3            &kp N4             &kp N5     &none            &kp N6             &kp N7                 &kp N8              &kp N9                     &kp N0                      &kp MINUS
&kp TAB             &kp Q             &kp W               &kp E             &kp R              &kp T      &none            &kp Y              &kp U                  &kp I               &kp O                      &kp P                       &kp BSPC
//&caps_word          &kp A             &kp S               &kp D             &lt NAV F          &kp G      &none            &kp H              &kp J                  &kp K               &kp L                      &kp SEMI                    &kp SQT
&caps_word     &hm LEFT_GUI A &hm LEFT_ALT S &hm LEFT_SHIFT D &hm LCTRL F  &hm LA(LC(LS(LEFT_GUI))) G     &none   &hm LS(LC(LA(LEFT_GUI))) H &hm RCTRL J   &hm RIGHT_SHIFT K   &hm RIGHT_ALT L   &hm RIGHT_GUI SEMICOLON  &kp SQT
&mt LSHFT LPAR      &kp Z             &kp X               &kp C             &kp V              &kp B      &none            &kp N              &kp M                  &kp COMMA           &kp DOT                    &kp FSLH                    &mt RSHFT RPAR
//          --- EXTRAS --- --- THUMBS ---------------------------------------------------------                    --- THUMBS ----------------------------------------------------------- --- EXTRAS ---
&none               &kp LGUI          &kp LALT            &kp LCTRL         &lt NAV SPACE          &num_word NUM               &none    &lt SYMBOLS END            &kp ENTER        &kp INS          
             &kp DEL                     &none
            >;
        };
        
        lower_layer {
            display-name = "symbols";
            bindings = <
//  --- LEFT HALF -----------------------------------------------------------------------------   --- CENTER ---   --- RIGHT HALF ----------------------------------------------------------------------------
&trans      &kp F1            &kp F2              &kp F3            &kp F4             &kp F5     &none            &kp F6       &kp F7                 &kp F8              &kp F9                     &kp F10                     &kp F11
&trans      &kp LS(AT_SIGN)   &kp LS(AMPERSAND)   &kp EQUAL         &kp PLUS           &kp LS(PERCENT) &none       &kp CARET    &kp LS(UNDERSCORE)     &BRACES             &kp LS(LEFT_PARENTHESIS)   &kp LS(RIGHT_PARENTHESIS)   &kp F12
&trans      &kp EXCL          &kp TILDE           &kp LESS_THAN     &kp GREATER_THAN   &kp HASH   &none            &kp DOLLAR   &kp ASTERISK           &PREV               &kp SLASH                  &URL                        &kp PIPE
&trans      &none             &none               &none             &kp GRAVE          &none      &none            &kp PIPE     &kp LEFT_BRACKET       &kp RIGHT_BRACKET   &none                      &kp BACKSLASH               &trans
//          --- EXTRAS --- --- THUMBS ---------------------------------------------------------                    --- THUMBS ----------------------------------------------------------- --- EXTRAS ---
&none       &trans            &trans              &trans            &trans             &trans                      &trans       &trans                 &trans              &trans                     &trans                      &none
            >;
        };

        nav_layer {
            display-name = "nav";
            bindings = <
//  --- LEFT HALF -----------------------------------------------------------------------------   --- CENTER ---   --- RIGHT HALF ----------------------------------------------------------------------------
&trans      &trans            &trans              &trans            &trans             &trans     &none            &trans           &trans           &trans          &trans          &trans          &trans
&trans      &none             &tabPrev            &tabNext          &tabClose          &none      &none            &kp HOME         &kp PAGE_DOWN    &kp PAGE_UP     &kp END         &none           &trans
&trans      &kp HOME          &winPrev            &winNext          &winClose          &kp END    &none            &kp LEFT_ARROW   &kp DOWN         &kp UP          &kp RIGHT       &none           &trans
&trans      &none             &deskPrev           &deskNext         &none              &none      &none            &kp DELETE       &none            &none           &kp INSERT      &none           &trans
//          --- EXTRAS --- --- THUMBS ---------------------------------------------------------                    --- THUMBS ----------------------------------------------------------- --- EXTRAS ---
&none       &trans            &trans              &trans            &trans             &trans                      &trans           &kp HOME         &kp END         &trans          &trans          &none
            >;
        };

        number_layer {
            display-name = "numbers";
            bindings = <
//  --- LEFT HALF -----------------------------------------------------------------------------   --- CENTER ---   --- RIGHT HALF ----------------------------------------------------------------------------
&trans      &trans            &trans              &trans            &trans             &trans     &none            &trans       &trans           &trans          &trans          &trans          &trans
&trans      &trans            &trans              &trans            &trans             &trans     &none            &trans       &kp N7           &kp N8          &kp N9          &kp BACKSPACE   &trans
&trans      &trans            &trans              &trans            &trans             &trans     &none            &trans       &kp N4           &kp N5          &kp N6          &kp N0          &trans
&trans      &trans            &trans              &trans            &trans             &trans     &none            &trans       &kp N1           &kp N2          &kp N3          &trans          &trans
//          --- EXTRAS --- --- THUMBS ---------------------------------------------------------                    --- THUMBS ----------------------------------------------------------- --- EXTRAS ---
&none       &trans            &trans              &trans            &trans             &trans                      &kp ENTER    &kp PERIOD       &trans          &trans          &trans          &none
            >;
        };

        adjust_layer {
            display-name = "adjust";
            bindings = <
//  --- LEFT HALF -----------------------------------------------------------------------------   --- CENTER ---   --- RIGHT HALF ----------------------------------------------------------------------------
&bt BT_CLR          &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3      &bt BT_SEL 4           &none              &none              &none           &none           &none           &none           &none
&ext_power EP_TOG   &rgb_ug RGB_HUD   &rgb_ug RGB_HUI   &rgb_ug RGB_SAD   &rgb_ug RGB_SAI   &rgb_ug RGB_EFF        &none              &none              &none           &none           &none           &none           &none
&none               &rgb_ug RGB_BRD   &rgb_ug RGB_BRI   &none             &none             &none                  &none              &none              &none           &none           &none           &none           &none
&none               &none             &none             &none             &none             &none                  &none              &rgb_ug RGB_TOG    &none           &none           &none           &none           &none
//          --- EXTRAS --- --- THUMBS ---------------------------------------------------------                    --- THUMBS ----------------------------------------------------------- --- EXTRAS ---
&none               &none             &none             &none             &none             &none                                     &none              &none           &none           &none           &none           &none
            >;
        };
    };
};